.App {
    text-align: center;
    background-color: #F1F5F8;
    padding: 5%;
  }
  .video_card{
    width: 50%;
      text-align: left;
      margin: 0 auto;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 30px;
  
  }
  .video_card video{
    width: 100%;
  }
  
  .video_card h2{
  
  }
  p.date{
      color: rgb(145, 143, 143);;
  }
  p.author{
      color: rgb(0, 102, 255);
  }
  h1{
      color: #516BEB;
      margin-bottom: 30px;
  }